.detector-ui {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background-phis.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Ensure no horizontal scrolling */
}


.content {
    max-width: 700px; /* Adjust as necessary */
    width: 90%;
    padding: 20px;
}